/* ==========================================================================
   Flip Card — Uiverse.io by ElSombrero2
   ========================================================================== */

.flip-card {
  overflow: visible;
  width: 190px;
  height: 254px;
}

.flip-card .content {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 300ms;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.flip-card .front,
.flip-card .back {
  background-color: #ffffff;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border-radius: 5px;
  overflow: hidden;
}

.flip-card .back {
  justify-content: center;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.flip-card .back::before {
  position: absolute;
  content: ' ';
  display: block;
  width: 160px;
  height: 160%;
  background: linear-gradient(90deg, transparent, #60A5FA, #60A5FA, #60A5FA, #60A5FA, transparent);
  animation: flip-card-rotation 5000ms infinite linear;
}

.flip-card .back-content {
  position: absolute;
  width: 99%;
  height: 99%;
  background-color: #0057B0;
  border-radius: 5px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.flip-card:hover .content {
  transform: rotateY(180deg);
}

@keyframes flip-card-rotation {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

.flip-card .front {
  transform: rotateY(180deg);
  color: white;
}

.flip-card .front .front-content {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flip-card .front-content .badge {
  background-color: rgba(0, 0, 0, 0.45);
  padding: 2px 10px;
  border-radius: 10px;
  backdrop-filter: blur(2px);
  width: fit-content;
}

.flip-card .description {
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.15);
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(5px);
  border-radius: 5px;
}

.flip-card .title {
  font-size: 11px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}

.flip-card .title p {
  width: 50%;
}

.flip-card .card-footer {
  color: rgba(255, 255, 255, 0.7);
  margin-top: 5px;
  font-size: 8px;
}

.flip-card .front .img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.flip-card .circle {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #93C5FD;
  position: relative;
  filter: blur(15px);
  animation: flip-card-floating 2600ms infinite linear;
}

.flip-card .circle#bottom {
  background-color: #3B82F6;
  left: 50px;
  top: 0px;
  width: 150px;
  height: 150px;
  animation-delay: -800ms;
}

.flip-card .circle#right {
  background-color: #60a5fa;
  left: 160px;
  top: -80px;
  width: 30px;
  height: 30px;
  animation-delay: -1800ms;
}

@keyframes flip-card-floating {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}